<html>
    <head>
        <title>Go APP on Heroku</title>
    </head>
    <body>
        <br>
        <h1>Go APP Started on Heroku with pipeline</h1>
        <br>
        <hr>
        <p>
            This is a sample <b>Go application deployed to Heroku</b>. 
            It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.
            <br>
            To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-go">Getting Started with Go on Heroku </a> tutorial.
        </p>
        <br>
        <p>
            A pipeline is a group of Heroku apps that share the same codebase. Each app in a pipeline represents one of the following stages in a continuous delivery workflow:
            <ul>
                <li>Development</li>
                <li>Review</li>
                <li>Staging</li>
                <li>Production</li>
            </ul>
            To create pipeline, head over to the <a href="https://devcenter.heroku.com/articles/pipelines" target="_blank">Pipelines</a> tutorial.
        </p>
        <br>
        <p>
            Pipelines are extremely useful for managing multiple environments for your app. A common pipeline workflow has the following steps:
            <ol type="1">
                <li>1.A developer creates a pull request to make a change to the codebase.</li>
                <li>2.Heroku automatically creates a review app for the pull request, allowing developers to test the change.</li>
                <li>3.When the change is ready, it’s merged into the codebase’s master branch.</li>
                <li>4.The master branch is automatically deployed to the pipeline’s staging app for further testing.</li>
                <li>5.When the change is ready, a developer promotes the staging app to production, making it available to the app’s end users.</li>
            </ol>
        </p>
    </body>
</html>